h1 {
  text-align: center;
}

button {
  margin-left: 40px;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: blue;
  cursor: pointer;
}

.article-list {
  padding-left: 40px;
}
